*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


.sucesso{
    color: #0a840a;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: #7be87b;
    text-align: center;
    border: 2px solid #0a840a;
  }
  
  .erro{
    color: #ff0000;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: #fb9898;
    text-align: center;
    border: 2px solid #ff0000;
  }


  fieldset{
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    padding: 10px;
    flex-wrap: wrap;
  }

  fieldset div{
    margin: 3% 1%;
    width: 100%;
  }

  label{
    display: block;
  }
  input[type="password"], input[type="email"] {
    display: block;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
    width: 50vw;
    height: 8vh;
    padding-left: 10px;
  }

  input[type="password"], input[type="email"] {
    outline-color: #7be87b;
    outline-offset: 10;
  }

  button{
    display: block;
    margin: 0 auto;
    width: 25vw;
    height: 8vh;
    box-shadow: inset 0 0 10px rgba(57, 220, 57, 0.5);
    border: 2px solid #0a840a;
    border-radius: 5px;
    transition: all .4s ease;
  }

  button:hover{
    box-shadow: inset 0 0 10px rgba(3, 96, 96, 0.5);
    border: 2px solid #0e19be;
  }
/* 
  #botao{
    display: block;
    width: 30vw;
    text-align: center;
    text-decoration: none;
    color: #fb9898;
    border: 2px solid #fb9898;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5%;
  } */

  #btnClose{
    display: block;
    width: 7.6vw;
    border-radius: 100%;
    transition: all .4s ease;
    font-weight: bold;
    text-align: center;
  }

  #btnClose:hover{
    background-color: #ff0000;
    color: #fff;
  }

  dialog::backdrop{
    background-color:  rgba(0,0,0,.8);
  }

  dialog{
    margin: 7% auto;
    border: none;
    border-radius: 5px;
  }

  .tit-valida{
    margin: 2%;
  }

  .tit-valida::before{
    display: block;
    content: "____________";
    margin-bottom: 2%;
  }

  .tit-valida::after{
    display: block;
    content: "____________";
  } 
  